*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#form-cadastro {
  text-align: center;
  background-color: white;
  padding: 40px;
  border: 1px solid black;
  width: 100%;
  max-width: 600px;
  font-size: 20px;
  font-weight: 700;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

button {
  background-color: white;
  border: 1px solid black;
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
  width: 120px;
  height: 40px;
  cursor: pointer;
  animation:
    background-color 0.3s ease,
    color 0.3s ease;
}

button:hover {
  background-color: black;
  color: white;
}
