body {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;

  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container-principal {
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-cadastro {
  text-align: center;
  background-color: white;
  padding: 40px;
  border: 1px solid #afafaf;
  border-radius: 12px;
  width: 100%;
  max-width: 600px;
  font-size: 20px;
  font-weight: 700;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

button {
  background-color: #415a77;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
  width: 160px;
  height: 50px;
  cursor: pointer;
  animation:
    background-color 0.1s ease-in,
    color 0.3s ease;
  transition: all 0.3s ease-out;
}

button:hover {
  background-color: #0d1b2a;
  color: white;
}
