/* === Menu de navegação === */

.container-nav {
  background-color: #ffffff;
  border: 1px solid #afafaf;
}

.nav-list {
  list-style-type: none;
  justify-content: center;
  display: flex;
  margin: 0;
}

.nav-element {
  padding: 10px 20px;
}

.nav-links {
  color: black;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.1s;
}

.nav-links:hover {
  font-size: 18px;
}

/* === Conteúdo principal ===*/

body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: #e0e1dd;
  color: black;
  font-family: "Inter", sans-serif;
}

.container-principal {
  margin: 100px 300px;
}

h1 {
  font-size: 60px;
}

p {
  color: #55585d;
}

a {
  color: #000000;
}

/* === Conteúdo de produtos ===*/

#container-products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.list-products {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  width: 200px;
  margin: 5px;
  justify-content: flex-end;

  background-color: white;
  border: 1px solid #afafaf;
  border-radius: 12px;

  min-height: 350px;
  min-width: 280px;
}

.products-info {
  margin: 0px;
  padding: 0px;
}

.products-title {
  margin: 0px;
  padding: 0px;
  font-size: 24px;
}

.products-price {
  margin: 0px;
  padding: 0px;
  font-size: 50px;
}
